<main class="layout-container">
  <nav class="navbar shadow-sm">
    <div class="navbar-content container-fluid">
      <a class="navbar-brand" routerLink="/">
        <i class="pi pi-sparkles me-2"></i> Tutor AI
      </a>

      <div class="d-flex ms-auto align-items-center">
        <button
          *ngIf="authService.isLoggedIn()"
          (click)="authService.logout()"
          class="btn btn-outline-danger d-flex align-items-center gap-2"
        >
          <i class="pi pi-sign-out"></i>
          <span>Sair</span>
        </button>
      </div>
    </div>
  </nav>

  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
